<div class="container">
  <h2>Gestión de Personas</h2>



  <div class="card">
      <label>Nombre:</label>
      <input type="text" id="nombre">

      <label>Apellido:</label>
      <input type="text" id="apellido">

      <label>Edad:</label>
      <input type="number" id="edad">

      <label>Correo Electrónico:</label>
      <input type="email" id="email">

      <div class="buttons">
          <button>Agregar</button>
          <button>Modificar</button>
          <button>Eliminar</button>
          <button>Consultar</button>
      </div>
  </div>
</div>
