<!-- mesa.component.html -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Seleccionar Mesa</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label>Mesas Disponibles</ion-label>
      <ion-select placeholder="Selecciona una mesa">
        <ion-select-option value="1">Mesa 1</ion-select-option>
        <ion-select-option value="2">Mesa 2</ion-select-option>
        <ion-select-option value="3">Mesa 3</ion-select-option>
        <ion-select-option value="4">Mesa 4</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-content>
</ion-card>
